body{
    /*background-image: url(../img/prev.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/*pagina indeleing, art. sect. ...*/
/*header{
    
    position: fixed;
   background: #01031f;
    width: 100%;
    height: 14%;
    top: 0; 
    left: 0;
    color: white;
}*/

footer{
    position: absolute;
    background: #01031f;
     width: 100%;
     height: 14%;
     bottom: 0; 
     left: 0;
     color: white;
}

#midden{
    
    position: absolute;
   /* background: cadetblue;*/
    height: auto;
    width: 100%;
    left: 0;
    
   /* border:cadetblue ridge 1px;*/
   
    color: white;

}
section{
 /*margin-bottom:10px; */
 /*border-bottom: rgb(212, 21, 14) ridge 1px;*/
 padding-left: 1%;
 padding-right: 1%;
 padding-top: 2%;
padding-bottom: 1%;
height: auto;


}
section#introSec{
    background-color: rgb(194, 191, 191);

}
section#index{
    background:white;
    color: #000000;
}
section#project{
    background-color: rgb(194, 191, 191);
}
section#form{
   
    background:white;
    display: flex;
    flex-direction: row;
}

/*#formEnMap{width: 100%;height:100%;background-color: red;display: flex;
    flex-direction: row;justify-content:space-around;overflow: inherit;}*/


/*summary{border: none;}*/

/*Einde Pagina indelings*/

.welcome{margin-left: 50%;}

/*Alles wat met hobbies te maken heeft*/

#hobbieDivs{
    height: 340px;
    width: 100%;
    border:yellow ridge 1px;
    /*background-color: white;*/
    display: flex;
    flex-direction: row;
   
    
    

}
.hobbies,.hobbies1,.hobbies2{

 width: 30%;
 height:300px;
 float: left;
 display: inline-block;
 margin-right: 5%;
 overflow: hidden;
 box-shadow: #797c79  3px 3px;
 color: transparent;
}
.hobbies{
    background-image: url(../img/film-.jpg);
}
.hobbies1{
    background-image: url(../img/lopen.jpg);
}
.hobbies2{
    background-image: url(../img/scripting.jpg);
}

.hobbies:hover,.hobbies1:hover,.hobbies2:hover{
    background-image: none;
    color: #200e0e;
    cursor: pointer;
    background-color: white;
   
}

.textHobbie{
 width: 70%;
 height: 70%;
 border: red ridge 1px;
 margin: 0 auto;
 overflow: hidden;
 margin-top: 8%;
 font-size: 20px;
 word-wrap: break-word;
}


/*Einde hobbies*/



/*Nav*/

/*Eind Nav*/
/* table*/
 thead{
     background-color: #020101;
     color: white;
}
#tbody{
background-color: white;
color: black;

}/*
table{
    margin-bottom: 10px;
    width: 30%;
}*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}


/* einde table*/

/*Form*/
/*
.inputOpmaak{
    background-color: #797c79;
    border: white 1px ridge;
    color: white;
    border-radius:  0px 0px 5px 5px;
}
.inputOpmaak:focus{
    background-color: white;
    color: black;
}*/

input[type=text],input[type=tel],input[type=email] ,select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea {
resize: both;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 3s ease-out, color 1s ease-out;
}
input[type=reset] {
    background-color: rgb(255, 55, 55);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: background-color 3s ease-out, color 1s ease-out;
}

input[type=submit]:hover {
    background-color: #06ff12;
    color: #000000;
  
    
}
input[type=reset]:hover{
    background-color: rgb(255, 0, 0);
    color: #000000;


}
fieldset{
    width: 50%;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #c4bdbd;
    padding: 5px;
    color: #070707;
}

.container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*Eind form*/
/*Map*/
#map{background-color: greenyellow;width: 50%;}
/*Einde Map*/

/*extra info projecten*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  .container2 {
    position: relative;
    max-width: 30%;
    margin: 0 auto;
  }
  
  .container2 img {vertical-align: middle;}
  
  .container2 .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
 /* .container:active{
  max-width: 80%;
 
  }*/
  .ProjectsContainer{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }

  /*Einde Extra info projecten*/
  
  /*Modal projecten vergroten*/
/* The Modal (background) deze codoe is gecopieer en eenbeetje aangepast */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    

}

/* Modal Content/Box */
.modal-content {
    /*background-color: #fefefe;*/
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    color: #000000;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 1); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    
   
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*beging Bootstrap*/
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/MacBook-Air-2013-13-inch-backlit-keyboard.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  /*Einde Bootstrap*/